.signinpage {
    background-color: #0d0c1d;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    margin: 0;

  .login-container {
    background-color: #161528;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    width: 400px;
    text-align: center;
  }

  .login-container h2 {
    margin-bottom: 1rem;
  }

  input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background: #25273D;
    color: white;
  }

  button {
    width: 100%;
    margin: 20px 0;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #3B3F67;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
  }

  button:hover {
    background: #52578A;
  }

  .create {
    color: blue;
    text-decoration: underline;
  }

  .create:hover {
    color: lightblue;
    text-decoration: none;
  }

  .create:active {
    color: darkblue;
  }

  .create:focus {
    outline: none;
    border-bottom: 2px solid lightblue;
  }
}
